<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\WhatSZ\WhatAppApi\whtsp\Scripts\python.exe|E:\WhatSZ\WhatAppApi\whtsp\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
        <!-- Required settings -->
        <add key="WSGI_HANDLER" value="main.app" />
        <add key="PYTHONPATH" value="E:\WhatSZ\WhatAppApi" />
    </appSettings>
</configuration>